* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(65, 65, 65);
    margin: 0;
  }

  main {
    padding-bottom: 100px;
  }

/*Header CSS code*/
  .car-fronts {
    display: flex;
    justify-content: center;
  }

  .logo {
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    width: 20%;
    border-radius: 50px;
    box-shadow: 0 0 15px white;
  }
  
  .under-logo {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .lambo-logo {
    width: 125px;
    height: 75px;
    border-radius: 20px;
    padding: 10px;
  }
  
  .title {
    font-family: 'Merriweather', serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(0, 0, 255);
    font-size: 20px;
    line-height: 65px;
  }

/*Navigation Bar CSS code*/
  nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(30, 30, 30);
    border: 2px solid black;
  }
  
  .view-mode {
    color: rgb(0, 0, 0);
    background-color: white;
    font-size: 18px;
    width: 40%;
    height: 90%;
    border-radius: 40px;
  }

/*Signup Form CSS code*/
  .signup-title {
    text-align: center;
    font-size: 15px;
  }

  form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 500px;
    border: 2px solid black;
    border-radius: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    background-color: rgb(0, 0, 150);
    color: rgb(255, 255, 255);
  }

  fieldset {
    border: 2px solid black;
    border-radius: 40px;
    width: 90%;
    max-width: 400px;
    height: 95%;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(199, 199, 199);
    color: black;
  }

  input[type="text"], [type="email"] {
    width: 100%;
    font-size: 10px;
    height: 20px;
    padding-left: 5px;
  }

  button[type="submit"] {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgb(0, 0, 150);
    color: rgb(255, 255, 255);
  }

/*Car CSS code - Main content of page*/
  .cars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .car-name {
    margin-top: 0px;
  }
  
  .car-stats {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .car-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgb(170, 170, 170);
    box-shadow: 0 0 30px rgb(0, 0, 0);
    width: 90%;
    max-width: fit-content;
    padding: 20px;
    border: 2px solid black;
    border-radius: 40px;
    margin: 20px;
    margin-top: 40px;
  }
  
  .car {
    width: 90%;
    max-width: 500px;
    border-radius: 40px;
    border: 2px solid black;
  }

/*This is of the View Mode Button - Will toggle*/
  .small-car {
    width: 200px;
    border-radius: 40px;
    border: 2px solid black;
  }

/*Footer CSS code*/
  footer {
    background-color: rgb(30, 30, 30);
    height: 50px;
    width: 100%;
    bottom: 0;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-text {
    color: white;
    margin-top: 0;
    font-family: 'Merriweather', serif;
    font-size: 15px;
  }

/*Code for larger screens*/
  @media screen and (min-width: 800px) {
    .title {
      font-size: 30px;
    }

    .logo {
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
      width: 200px;
    }
    
    .lambo-logo {
      width: 175px;
      height: 100px;
    }

    .signup-title {
      text-align: center;
      font-size: 30px;
    }

    form {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      max-width: 500px;
      border: 2px solid black;
      border-radius: 40px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 10px;
      background-color: rgb(0, 0, 150);
      color: rgb(200, 200, 200);
    }
  
    fieldset {
      border: 2px solid black;
      border-radius: 40px;
      width: 90%;
      max-width: 400px;
      padding: 15px;
      font-size: 25px;
      font-weight: bold;
      margin-right: auto;
      margin-left: auto;
      background-color: rgb(200, 200, 200);
      color: black;
    }
  
    input[type="text"], [type="email"] {
      width: 100%;
      font-size: 20px;
      height: 30px;
      padding-left: 5px;
    }

    button[type="submit"] {
      width: 100%;
      height: 40px;
      margin-top: 10px;
      font-size: 25px;
      font-weight: bold;
      border: 2px solid black;
      border-radius: 40px;
      background-color: rgb(0, 0, 150);
      color: rgb(200, 200, 200);
    }

    .nav-links:hover {
      background-color: rgb(65, 65, 65);
      cursor: pointer;
      transition: 0.5s;
      border-radius: 50%;
    }

    button[type="submit"]:hover {
      cursor: url(Images/pagani-cursor.png) 55 55, auto;
      background-color: green;
      color: white;
      transition: .5s;
    }

    .cars {
      display: flex;
      flex-direction: row;          
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: stretch;
      padding: 20px;
    }

    iframe {
      width: 560px;
      height: 315px;
    }

    .view-mode {
      color: rgb(0, 0, 0);
      background-color: white;
      font-size: 25px;
      font-weight: 700;
      width: 15%;
      min-width: 250px;
      height: 80%;
      border-radius: 40px;
    }

    footer {
      background-color: rgb(30, 30, 30);
      height: 60px;
      width: 100%;
      position: fixed;
      bottom: 0;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-text {
      font-size: 25px;
   }
  }